<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Kelisto" %></title>
    <script src="//use.typekit.net/yiw5xpl.js" type="text/javascript"></script>
    <script>
      try{Typekit.load();}catch(e){}
    </script>
    <link href="https://cdn.myfontastic.com/3y4kzHjRdL98NZqht7nm4h/icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="media-query-status">
      <span class="mobile-pt">Mobile</span>
      <span class="mobile-ls">Mobile Landscape and up</span>
      <span class="tablet-pt">Tablet Portrait and up</span>
      <span class="tablet-ls">Tablet Landscape and up</span>
      <span class="desktop">Desktop and up</span>
    </div>
    <%= yield %>
  </body>
</html>
